---
import { AstroError } from "astro/errors";
import LookupForm from "../components/LookupForm.astro";
import { MarkdownEditor } from "../components/mke.react";
import "../components/mke.react.css";
import Layout from "../layouts/default.astro";
import { $noteData } from "../notesDataStore";
export const prerender = false;

const userId = Astro.locals.auth().userId;

if (!userId) {
  throw new Error("Invalid user.");
}

if (!$noteData.get()) {
  const defaultNote = {
    userId: userId,
    url: "",
    name: "",
    notes: "",
  };
  $noteData.set(defaultNote);
}

let noteData = $noteData.get();
---

<Layout>
  <h1>Add Notes</h1>
  <LookupForm />
  <MarkdownEditor client:only="react" noteData={noteData}>
    <div slot="fallback">Loading...</div>
  </MarkdownEditor>
</Layout>
