form {
  margin: 0 auto;
  max-width: 65ch;
}

label,
input {
  font-size: 16px;
  line-height: 1.5rem;
  width: 100%;
}

input {
  display: block;
}

label {
  font-weight: bold;
  margin-block-start: 1rem;
  display: block;
}

.mdxeditor {
  margin-inline: 1rem;
}

.mdxeditor div[role="textbox"] {
  box-sizing: border-box;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 3px;
}

.mdxeditor div[role="textbox"]:focus {
  border: 2px solid black;
  border-radius: 3px;
}

form button {
  font-size: 16px;
  line-height: 1.5rem;
  margin-block: 1rem;
  margin-inline: 1rem;
  width: 100%;
}
